.product-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 320px;
    height: 380px;
    background: #f2f2f2;
    border-radius: 20px;
}

.product-card img {
    margin: 2rem;
}

.product-card h3 {
    white-space: normal;
    text-align: center;
    margin: 0.25rem 0 auto 0;
    font-weight: 500;
    font-size: 17px;
}

.product-card span {
    text-align: center;
    margin: auto;
    font-weight: 100;
}

.product-card button {
    margin: auto;
    border-radius: 10px;
    border: solid thin #cccccc;
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    height: 35px;
}
