ul.catalog {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    justify-content: center;
    justify-items: stretch;
    max-width: max-content;
    margin: 1rem auto;
    padding: 1rem;
}
