ul.catalog {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    justify-content: center;
    justify-items: stretch;
    max-width: max-content;
    margin: 1rem auto;
    padding: 1rem;
    gap: 1.5em;
}

/*TOASTER*/
.toaster {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(0%, 0%);
    z-index: 999;
    padding: 1em 3em;
    margin: 0 4rem 2rem 0;
    background-color: #f5f5f7;
    border-radius: 0.5em;
    border: none;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.toaster p {
    margin: 0;
}
